{% extends '::base.html.twig' %}
{% block content %}
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" id="planetnav">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                {% for planet, places in biomes %}
                    <li class="dropdown">
                        <a class="pointer dropdown-toggle" data-toggle="dropdown">{{ planet }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for placename, biomes in places %}
                                <li><a href="#planet{{ planet }}{{ placename }}">{{ placename }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <div class="container-fluid" id="content">
        <div class="row">
            <div class="col-md-10">
                {% include 'KspScienceBundle:Default/_partial:planet.html.twig' with {"planets": biomes} %}
            </div>
            <div class="col-md-2">
                <div data-spy="affix" style="margin-right:15px;">
                    <form action="{{ url('default_index') }}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="persistent">Persistent file</label>
                            <input class="form-control" type="file" name="persistent" id="persistent" />
                            <span class="help-block">
                                The file can be found in your
                                <br />
                                &lt;KSP folder&gt;/saves/&lt;your save name&gt;
                                <br />
                                The file extension is ".sfs" (can also be a quicksave.sfs file)
                            </span>
                        </div>
                        <button type="submit" class="btn btn-info btn-lg">Submit</button>
                        <span class="help-block">
                            Your file will be stored, and will only be used for testing purposes
                        </span>  
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}